.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.inputSearch {
   width: 1000px;
}

.searchButton {
    max-width: 100px;
}

.basket {
    display: inline-block;
    vertical-align: top;
    color: #cd4500;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
.searchAdmin{
    width: 700px;
}
.commonCount{
    margin: 0 0 2px 1px;
    font-weight: 800;
    font-size: 18px;
}
